body { 
    padding-top: 40px; 
    padding-bottom: 40px;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  .tablink {
    background-color: #555;
    color: rgb(0, 0, 0);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }

  
  #allDevices {
    background-color: lightgray;
    padding-top: 10%;
  }

  #hall {
    background-color: lightgray;
    padding-top: 10%;
  }

  #kidsRoom {
    background-color: lightgray;
    padding-top: 10%;
  }

  #livingRoom {
    background-color: lightgray;
    padding-top: 10%;
  }

.nav-home {
    appearance: none;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: black;
}



.custom1 {
    background-color: rgb(255, 49, 49);
    color: white;
    padding: 5px;
    margin-right: 50px;
    position: fixed;
    left: 85%;
    top: 0;
    border-radius: 100px;
}

.custom2 {
  background-color: rgb(255, 49, 49);
  color: white;
  padding: 5px;
  margin-right: 50px;
  position: fixed;
  left: 95%;
  top: 0;
  border-radius: 100px;
}


.home {
    color: black;
}

.weather {
    background-image: url("images/weather.webp");
    border: 0.5px solid black;
    height: calc(100vh/12*2);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2%;
}


.fourth-row {
    background-color: aquamarine;
    border: 0.5px solid black;
    height: calc(100vh/12*9);
}



.addFileImg {
  width: 20%;
  height: 35%;
  margin-left: 42%;
  margin-bottom: 5%;
}

.deviceNotFound {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 5%;
  font-size: 20px;
}


.addDevice {
  width: fit-content;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-size: 20px;
}

.default {
  background-color: aqua;
  height: 60%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.tabcontent {
  color: white;
  height: 100%;
  font-size: 1;
}


#footer ul {
  padding: 0;
}

#footer ul li {
  list-style: none;
  float: left;
  width: 33.33%;
  text-align: center;
  margin-top: -10px;
}

#footer ul li span {
  display: block;
  font-size: 10px;
  margin-top: -5px;
}

.hhh {
  background-color: #333;
}


div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  color: white;
  margin-right: 20px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


.threeDots {
  height: 80%;
  width: 20px;
}

.but {
  position: relative;
  top: 10px;
  right: 10px;
}
