body { 
    padding-top: 40px; 
    padding-bottom: 40px;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: red;}
  #News {background-color: green;}
  #Contact {background-color: blue;}
  #About {background-color: orange;}

.nav-home {
    appearance: none;
    width: 8%;
    padding-left: 10px;
    color: white;
    border: black;
}


.custom {
    background-color: rgb(255, 49, 49);
    color: white;
    padding: 5px;
    border-radius: 100px;
}

.home {
    color: black;
}

.weather {
    background-image: url("images/weather.webp");
    border: 0.5px solid black;
    height: calc(100vh/12*2);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2%;
}



.third-row {
    background-color: aquamarine;
    border: 0.5px solid black;
    height: calc(100vh/12);
}


.fourth-row {
    background-color: aquamarine;
    border: 0.5px solid black;
    height: calc(100vh/12*9);
}

