body { 
    padding-top: 40px; 
    padding-bottom: 40px;
    min-width: 300px;
    min-height: 500px;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  .tablink {
    background-color: #555;
    color: rgb(0, 0, 0);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }

  
  #allDevices {
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
  }

  #hall {
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
  }


  .addFileImg {
    background: rgba(0,0,0,0);
    width: 100px;
    margin-left: calc((100% - 100px)/2);
    margin-bottom: 30px;
    opacity: 0.5;
  }


  .deviceNotFound {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    opacity: 0.5;
  }
  
  
  .addDevice {
    background-color:  rgb(255, 62, 37);
    border-radius: 20px;
    width: fit-content;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 20px;
  }

  .threeDots {
    height: 40px;
    width: 40px;
  }

  #kidsRoom {
    background-color: rgb(255, 255, 255);
    padding-top: 100px;;
  }

  #livingRoom {
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
  }

.nav-home {
    appearance: none;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: black;
}


.topnav {
  height: 40px;
}


.gasstovetext {
  position: absolute;
  width: 80px;
  height: fit-content;
  white-space: nowrap;
  top: -13px;
  left: calc((100% - 60px)/2);
}


.kj {
  position: relative;
}



.gas {
  height: 120%;
  background-color: rgb(24, 24, 24);
}

.stove-img {
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  margin-left: 25%;
  height: auto;
  background-color: rgb(24, 24, 24);
}


.gas-img1 {
  margin-top: 100px;
  grid-row-start: 1;
  grid-column-start: 1;
  width: 80%;
  margin-left: 10%;
  height: auto;
  margin-bottom: 70px;
  background-color: rgb(24, 24, 24);
  z-index: 0;
}


.gas-img2 {
  margin-top: 100px;
  grid-row-start: 1;
  grid-column-start: 1;
  width: 80%;
  margin-left: 10%;
  height: auto;
  margin-bottom: 70px;
  background-color: rgb(24, 24, 24);
  z-index: 0;
}

@media only screen and (max-width: 1000px) {
  .stove-img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.back {
    position: fixed;
    left: 10px;
    top: 7px;
    height: 25px;
    width: 25px;
    border-radius: 20px;
}

.plus {
  position: fixed;
  right: 10px;
  top: 7px;
  border-radius: 20px;
  height: 25px;
  width: 25px;
}


.home {
    color: black;
}

.weather {
    background-image: url("images/smarthome.webp");
    opacity: 0.8;
    border: 0.5px solid black;
    height: calc(100vh/12*2);
    color: white;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    padding: 10%;
}


.welcome {
  width: 80%;
  margin-left: 10%;
  font-size: 200%;
  color: black;
}


.smarthome {
  width: 50px;
}


.tabcontent {
  color: white;
  height: 100%;
  font-size: 1;
  margin-bottom: 50%;
  padding-bottom: 50%;
}


#footer ul {
  padding: 0;
}

#footer ul li {
  list-style: none;
  float: left;
  width: 33.33%;
  text-align: center;
  margin-top: -10px;
}

#footer ul li span {
  display: block;
  font-size: 10px;
  margin-top: -5px;
}

.hhh {
  background-color: #333;
}


div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  color: white;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
  cursor: pointer;
}


.threeDots {
  height: 80%;
  width: 20px;
  background: rgba(0,0,0,0);
}

.but {
  position: relative;
  top: 8px;
  right: 10px;
  width: fit-content;
  height: fit-content;
}

.hi {
  height: fit-content;
  width: fit-content;
  font-size: 100%;
  color: black;
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 15%;
  overflow: auto;
  white-space: nowrap;
}

.hey1 {
  border-bottom: 1px solid black;
  color: black;
  padding: 2%;
}

.hey2 {
  color: black;
  padding: 2%;
}

.hey1:hover {
  font-weight: bolder;
  cursor: pointer;
}

.hey2:hover {
  font-weight: bolder;
  cursor: pointer;
}

.no {
  border-bottom: 1px white;
}

.yes:hover {
  cursor: pointer;
  font-weight: bolder;
}

.saba {
  visibility: visible;
  height: 70px;
  background-color: rgb(24, 24, 24);
}

.gg {
  height: 50px;
  width: 50px;
  margin-left: calc((100% - 60px)/2);
  border-radius: 50%;
  border: 2px solid white;
}


.zz {
  height: 70px;
  width: 70px;
  margin-left: calc((100% - 70px)/2);
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 2px solid white;
}


.zz:active {
  box-shadow: 7px 6px 28px 1px rgba(0,0,0,0.24);
  transform: translateY(4px);
}

.zz:hover {
  border: 1px solid rgb(255, 255, 255);
}



.gg:active {
  box-shadow: 7px 6px 28px 1px rgba(0,0,0,0.24);
  transform: translateY(4px);
}

.gg:hover {
  border: 1px solid rgb(255, 255, 255);
}


.homepage {
  background-color: rgb(255, 38, 0);
}
